.top-bar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	// border: 1px solid #5f97e6;
	font-family: 'Quicksand-Bold';
	font-size: 16px;
	font-weight: 700;
	background-color: rgba(20, 18, 26, 0.877);
	width: 100.1%;
	height: 40px;
}
