.ourTeamContainer {
    width: 100%;
    height: 600px;
}

.ourTeamInfo {
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.bestTeam {
    color: rgb(93, 101, 109);
    font-size: 16px;
    margin-top: 5px;
}
.spesialists {
    font-size: 34px;
    color: rgb(93, 101, 109);
    padding-top: 20px;
}
.ourTeamTextInfo {
    color: rgb(93, 101, 109);
    line-height: 1.5;
    font-size: 18px;
}

.ourTeamImageBlock {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 380px;
    margin: 0 auto;
    margin-top: 50px;
    grid-gap: 15px;
}

.ourTeamImgFirst {
    background-image: url('../../shared/images/team_emma_scott-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.ourTeamImgSecond {
background-image: url('../../shared/images/team-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.ourTeamImgThird {
background-image: url('../../shared/images/team-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}