.card {
	max-width: 550px !important;
	width: 100% !important;
	height: 380px;
	&:hover {
		.header-r {
			opacity: 1;
		}
	}

	.header-r {
		transition: all 0.3s;
		opacity: 0;
		margin-bottom: -39px;
		z-index: 100;
		padding: 10px;
		background-color: rgba(0, 0, 0, 0.4);
		color: #fff;
	}
}

@media (max-width: 676px) {
	.card {
		margin: auto !important;
		width: 100% !important;
		margin-top: 20px !important;
	}
}
