.slideContainer {
    width: 100%;
    margin: auto; 
}
  
h3 {
    text-align: center; 
}
  
.eachSlide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 600px;
}
.imageBlock1 {
    background-image: url('../images/img-1.jpg');
}
.imageBlock2 {
    background-image: url('../images/img-2.jpg');
}
.imageBlock3 {
    background-image: url('../images/img-3.jpg');
}

  
.eachSlide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}
  
.eachFade {
    display: flex;
}
  
.eachFade .imageContainer {
    width: 100%;
    overflow: hidden;
}
  
.eachFade .imageContainer img {
    width: 100%;
}
  
.eachFade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
}